{% extends "base.html" %}
{% block content %}



<div class="login-container">

    <!-- LEFT SIDE TEXT -->
    <div class="login-left">
        <h1 class="title">🎓 College Management System</h1>
        <p class="subtitle">Smart Student & Faculty Management Portal</p>
    </div>

    <!-- RIGHT SIDE LOGIN CARD -->
    <div class="login-box">

        <h2 class="text-center mb-4">Login</h2>

        <form method="POST">

           <div class="input-group">
    <input type="text" name="username" required>
    <label>Username</label>
</div>

<div class="input-group">
    <input type="password" name="password" required>
    <label>Password</label>
</div>

            <div class="input-group">
                <select name="role" required>
                    <option value="">Select Role</option>
                    <option value="admin">Admin</option>
                    <option value="faculty">Faculty</option>
                    <option value="student">Student</option>
                </select>
            </div>

            <button class="login-btn mt-3">Login</button>

        </form>

    </div>

</div>

{% endblock %}